@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

*{
    transition: .3s all;
}

body{
    background: url('https://unsplash.it/1000') yellowgreen;
    text-align: center;
    background-blend-mode: exclusion;

}

footer, aside, section{
 background-color: red;
 padding: 10px;
 margin: 10px;
 color: white;

}

div{
 background-color: green;
 padding: 10px;
 margin: 10px;
}

.sinif1 {
 background-color: red;
 padding: 10px;
 margin: 40px;
 color: white;

 border-radius: 10px;
 box-shadow: -10px 40px 20px black;


font-family: "Kablammo", system-ui;
  
}


.sinif1:hover{
    transform: translate(-10px,-100px);
}

.sinif2{
  background-color: green;
  padding: 10px;
  margin: 10px;

  border-radius: 10px 40px;
}

video{
    width: 400px;
    margin: 40px;
    border-radius: 10px 20px 30px 40px;
    box-shadow: 0 0 20px red;
    display: none;
}

.sinif3{
    width: 200px;
    height: 200px;
    overflow: scroll; /* auto */
    padding: 20px;
    border: 5px solid blue;

    box-sizing: border-box;

    border-radius: 50%;
}

.sinif3:hover{
    transform: rotate(-30deg);
}

.sinif4{
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.sinif4:hover{
    transform: scale(1.3);
    transform: skew(60deg);
}

.sinif5{
    height: 100px;
    width: 200px;
    overflow: auto;
    resize: both;
}

.sinif6{
    mix-blend-mode: exclusion;
    color: white;
    text-transform: uppercase;
    
}

audio{
  /*  animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
     animation: anim1 3s ease  3 1s reverse alternate; */
}

@keyframes anim1 {
    from{
        margin: 10px;
        padding: 20px;
        background-color: red;
        transform: rotate(-30deg);
    }
    to{
        margin: 20px;
        padding: 40px;
        background-color: blue;
        transform: rotate(30deg);
    }
}

aside{
    animation: anim2;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 4;
}

@keyframes anim2{
    10%{
        width: 10px;
        height: 20px;
        background-color: red;
    }
    20%{
        width: 40px;
        height: 40px;
        background-color: green;
    }
    40%{
        width: 80px;
        height: 60px;
        background-color: blue;
    }
    80%{
        width: 160px;
        height: 80px;
        background-color: yellow;
    }
}

.anasinif1{
    background-color: red;
    height: 200px;
    display: flex;
    direction: rtl;
    justify-content: space-between;
}

.cocuk{
    height: 100px;
    align-self: center;
}

.anasinif2{
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.anasinif3{
    height: 200px;
    background-color: bisque;
    display: flex;
    align-items: end; /* start, end , center, strect dikeyde hizlar */
    justify-content: center;

}
