*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

/* navbar */
.navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 60vw;
 height: 100px;
 margin: auto;
 position: relative;

 z-index: 5;

}

.navbar img{
height: 80px;
}

.btn{
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .4s;
}

.btn:hover{
    background-color: red;
}

.btn-red{
    background-color: red;
}

.hero{
    background-color: aqua;
    height: 100vh;
    background-image: url('./assets/images/banner.jpg');
    background-position: center center;
    background-size: cover;

    position: relative;
}

.layer{
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    opacity: 0.6;
}

.hero-content{
    position: relative;
    z-index: 5;

    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
}

.hero-content h1{
    font-size: 40px;
}


.hero-content p{
    font-size: 20px;
    font-weight: 500;
}

.hero-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.hero-buttons input{
padding: 7px 100px 7px 15px;
background-color: rgba(0, 0, 0, 0.6);
border: 1px solid rgb(197, 197, 197);
border-radius: 4px;
color: white;
}

.hero-buttons button{
font-size: 18px;
}

/* ayirac*/
.separator{
    width: 100%;
    border-bottom: 5px solid rgb(54, 54, 54);
    height: 0;
}

@media (max-width: 700px) {
    .btn{
        font-size: 12px;
    }
    .navbar{
        width: 90vw;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 20px;
    }
    .hero-content p{
        font-size: 12px;
    }
}