:root{
    --icbosluk: 10px;
    --disbosluk: 20px;
    --alan-arka-plan-renk: green;
    --varsayilan-yazi-renk: white;
}

*{
    transition: .3s all;

}

div{
    background-color: var( --alan-arka-plan-renk);
    color: var(--varsayilan-yazi-renk);
    margin: var(--disbosluk);
    padding: var(--icbosluk);
}

.sinif1:hover{
    filter: blur(1px);
}

.kapsayici{
    background-color: red;
    display: grid;
    grid-template-columns: 100px 20% auto 1fr;
}

.sinif3::before{
    background-color: red;
    content: "before kullaniyorum";
    display: block;
    margin-top: -30px;
    width: 50%;
    margin-left: -10px;
}

.sinif3::after{
    background-color: red;
    content: "after kullaniyorum";
    margin-left: 220px;
    display: block;
    width: 50%;
    margin-bottom: -30px;
}